In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
location = "learn-data-analysis-w-python-master/datasets/"
path = "axisdata.csv"
location += path
df = pd.read_csv(location)
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

### #1. Average cars sold per month

In [10]:
avg_cars = df["Cars Sold"].mean()
avg_cars

3.9229229229229228

### #2. Max cars sold per month

In [11]:
max_cars = df["Cars Sold"].max()
max_cars

7

### #3. Min cars sold per month

In [12]:
min_cars = df["Cars Sold"].min()
min_cars

1

### #4. Average cars sold per month by gender

In [57]:
avg_sold_gender = pd.pivot_table(df, index=["Gender"], values=["Cars Sold"])
avg_sold_gender

        Cars Sold
Gender
F        3.760736
M        4.078431

### #5. Average hours worked by people selling more than three cars per month

In [45]:
gt_3 = df["Cars Sold"] > 3
gt_3 = df[gt_3]
gt_3["Hours Worked"].mean()

34.740237691001695

### #6. Average years of experience

In [46]:
df["Years Experience"].mean()

3.026026026026026

### #7. Average years of experience for people selling more than three cars per month

In [48]:
avg_exp_gt_3 = df["Cars Sold"] > 3
avg_exp_gt_3 = df[avg_exp_gt_3]
avg_exp_gt_3["Years Experience"].mean()

3.0492359932088284

### #8. Average cars sold per month sorted by whether they have had sales training

In [54]:
pd.pivot_table(df, index=["SalesTraining"], values=["Cars Sold"])

               Cars Sold
SalesTraining
N               3.573850
Y               4.168942